.wrapper {
  width: 1024px;
  margin: 0 auto;
}

.nav-bar {
  position: fixed;
  top: 0px;
  z-index: 10;
  min-height: 50px;
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  background-color: rgb(255, 255, 255);
}
.nav-bar a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: rgb(0,0,0);
  font-weight: bold;
}
.nav-bar a:hover {
  transform: scale(1.1);
  color: rgb(100, 107, 114);
}
.nav-bar a {
  border-right: 2px solid rgb(0,0,0);
  padding-right: 25px;
  padding-left: 25px;
}  
.nav-bar a:last-child {
  border-right: none
}
.personal-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 80px;
}
.my-photo {
  max-height: 60vh;
  width: auto;
}
.contacts-list ul {
  border-top: 2px solid rgb(0,0,0);
  padding-top: 3px;
  border-bottom: 2px solid rgb(0,0,0);
  padding-bottom: 3px;
  margin-top: 30px;
}
.contacts-list ul li {
  text-align: center;
  padding-top: 10px; 
}
.name-surname {
text-align: center;
font-size: 3em;
}
.contacts-list ul li img {
  padding-right: 10px;
}
.contacts-list a img:hover {
  transform: scale(1.1);
}
.caption {
  text-align: center;
  font-size: 2em;
  padding-bottom: 20px;
  padding-top: 60px;
}
.description {
  text-indent: 30px;
  font-size: 1.2em;
  text-align: justify;
  border-bottom: 2px solid rgb(0,0,0);
  padding-bottom: 25px;
  line-height: 40px;
}
.bold {
  font-weight: bold;
  font-size: 1.2em;
}
.skills-list  {
  padding-left: 30px;
}
.skills-list li {
  line-height: 60px;
}
.skills-list li:before {
  content: "";
  float: left;
  height: 50px;
  width: 50px;
  background-image: url(/assets/skills.png);
  margin-top: 5px;
}
.english-level  {
  padding-left: 30px;
}
.english-level li {
  line-height: 60px;
}
.english-level li:before {
  content: "";
  float: left;
  height: 50px;
  width: 50px;
  background-image: url(/assets/english.png);
  margin-top: 5px; 
 



