.wrapper {
  max-width: 1024px;
  min-width: 800px;
  margin: 0 auto;
}
.nav-list {
  position: fixed;
  top: 0px;
  min-height: 50px;
  width: 100vw;
  max-width: 1024px;
  min-width: 300px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.nav-list li {
  border-right: 2px solid #000;
  border-right-style: solid;
  padding-right: 25px;
  padding-left: 25px;
}  
.nav-list li:last-child {
  border-right: none
}
.nav-list li a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 50px;
  text-decoration: none;
  color: rgb(0,0,0);
  font-weight: bold;
}
.nav-list li a:hover {
  transform: scale(1.1);
  color: rgb(100, 107, 114);
}

#summary {
  margin-top: 60px;
}